.card {
  border: 2px solid black;
  border-radius: 10%;
  display: inline-block;
  height: 20vh;
  margin: 1em 1em auto auto;
  overflow: hidden;
  position: relative;
  width: 20vh;
}

.card :hover {
  display: flex;
  transform: rotateY(190deg);
  transition-duration: 2s;
}

.card-invisible {
  display: none;
}

.card-title {
  border: solid black 1px;
  color: white;
  display: flex;
  font-size: 1.5em;
  font-size: 2em;
  margin-bottom: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
}

.ButtonSearch {
  background-color: yellow;
  border: black solid 1px;
  cursor: pointer;
  font-size: 1em;
  width: 30%;
}

.backSearch {
  background-image: url('../images/receitas.jpg');
}

.ytb {
  display: flex;
  width: auto;
}

.ig {
  background-color: yellow;
}

.instructions {
  background-color: rgb(255, 255, 58);
  font-size: 1em;
  font-style: italic;
}

.backDetal {
  background-image: url('../images/ketchup.jpg');
}
