.card-fav-done {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  margin: 10px;
  width: 400px;
}

.food-title {
  font-size: 1.5em;
}

.food-info {
  color: darkgray;
}

.info {
  line-height: 1.2em;
  text-decoration: none;
  width: auto;
}

.action-bar {
  display: flex;
}

.unfavoriteBtn {
  background-image: url('../images/blackHeartIcon.svg');
  border: none;
  height: 30px;
  width: 30px;
}
