.card {
<<<<<<< HEAD
  border-radius: 10%;
  border: 2px solid black;
=======
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
>>>>>>> c2bdab2df9974a803118bc50e73df408d4da33af
  display: inline-block;
  height: 172px;
  margin: 1em 1em auto auto;
  overflow: hidden;
  position: relative;
<<<<<<< HEAD
  width: 30vh;
  height: 30vh;
}

.card :hover {
  display: flex;
  transform: rotateY(190deg);
  transition-duration: 2s;
}

.card-invisible {
  display: none;
}

.card-title {
  border: solid black 1px;
  color: black;
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  margin-bottom: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
=======
  width: 161px;
}

.card-title {
  align-items: flex-end;
  display: flex;
  font-size: 18px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.card-img {
  border-radius: 6px 6px 0 0;
  height: 109px;
  width: 161px;
}

.card-invisible {
  display: none;
>>>>>>> c2bdab2df9974a803118bc50e73df408d4da33af
}

.ButtonSearch {
  background-color: yellow;
  border-radius: 10%;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  width: 30%;
}

.backSearch {
  background-image: url('../images/receitas.jpg');
}