.scroll {
  display: inline-block;
  margin-bottom: 10px;
  max-width: 100vw;
  overflow-x: scroll;
  padding-bottom: 10px;
  position: relative;
}

.prev {
  border-radius: 3px 0 0 3px;
  left: 0;
}

.next {
  border-radius: 3px 0 0 3px;
  right: 0;
}

.prev, .next {
  background-color: green;
  border-radius: 10vh;
  color: #333;
  cursor: pointer;
  display: inline-block;
  margin-top: -22px;
  padding: 1em;
  position: absolute;
  top: 50%;
  transition: 0.6s ease;
  width: auto;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.dot {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin: 0 2px;
  transition: background-color 0.6s ease;
  width: auto;
}

.dot:active, .dot:hover {
  background-color: black;
}

.dots-containers {
  bottom: 0;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}

.buttonIniciar {
  background-color: green;
  border-radius: 10vh;
  bottom: 0;
  display: flex;
  height: 7vh;
  left: 50%;
  padding: 1em;
  position: fixed;
  text-align: center;
  transform: translateX(-50%);
  width: 20vh;
  z-index: 10;
}
