.scroll {
  display: inline-block;
  margin: 10vh auto;
  margin-bottom: 10px;
  max-width: 100vw;
  overflow-x: scroll;
  padding-bottom: 10px;
  position: relative;
}

.prev {
  border-radius: 3px 0 0 3px;
  left: 0;
}

.next {
  border-radius: 3px 0 0 3px;
  right: 0;
}

.prev , .next {
  border-radius: 0 3px 3px 0;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  margin-top: -22px;
  padding: 16px;
  position: absolute;
  top: 50%;
  transition: 0.6s ease;
  width: auto;
}

.prev:hover , .next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.dot {
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin: 0 2px;
  transition: background-color 0.6s ease;
  width: 15px;
}

.dot:active , .dot:hover {
  background-color: black;
}

.dots-containers {
  bottom: 0;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}

.buttonIniciar {
  background-color: #6ce34f;
  border: black solid 2px;
  display: flex;
  font-size: 25px;
  height: 50px;
  padding-left: 50px;
  position: fixed;
  text-align: center;
  width: 250px;
}
