.footer {
  background-image: url('../images/comidas.jpg');
  bottom: 0;
  display: flex;
  height: 58px;
  justify-content: space-around;
  left: 30%;
  position: fixed;
}

.footer img {
  width: 40px;
}
