.headerBar {
  align-items: center;
  background-color: #c4c4c4;
  display: flex;
  height: 58px;
  justify-content: space-around;
}

.searchButton {
  background-color: #c4c4c4;
  background-image: url('../images/searchIcon.svg');
  border: none;
  height: 30px;
  width: 30px;
}

.searchBar {
  bottom: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  left: 0;
  right: 0;
  top: 0;
}

.radioSearchButtons {
  justify-content: space-around;
}
