.headerBar {
  align-items: center;
  background-image: url('../images/receitas.jpg');
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3em;
  height: 2em;
  justify-content: space-around;
}

.searchButton {
<<<<<<< HEAD
  background-color: rgba(10,23,55,0.0);
  background-image: url('../images/searchIcon.svg');
=======
  background-color: #c4c4c4;
>>>>>>> c2bdab2df9974a803118bc50e73df408d4da33af
  border: none;
  cursor: pointer;
  height:2.3em;
  width: 2.2em;
}

.searchBar {
  background-image: url('../images/comidas.jpg');
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  font-style: italic;
}

.radioSearchButtons {
  justify-content: space-around;
}
