.headerBar {
  align-items: center;
  background-image: url('../images/receitas.jpg');
  display: flex;
  font-size: 3em;
  height: 2em;
  justify-content: space-around;
}

.searchButton {
  background-color: rgba(10, 23, 55, 0.1);
  background-image: url('../images/searchIcon.svg');
  border: none;
  cursor: pointer;
  height: 2.3em;
  width: 2.2em;
}

.searchBar {
  background-image: url('../images/comidas.jpg');
  color: white;
  font-size: 1.5em;
  font-style: italic;
}

.radioSearchButtons {
  justify-content: space-around;
}
