.explorer {
  background-color: greenyellow;
  border: green solid 2px;
  border-radius: 10px;
  display: flex;
  font-size: 2em;
  font-style: italic;
  height: 50%;
  margin: 2%;
  text-align: center;
  width: 50%;
}
