.Login {
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1px;
  background-image: url('../../images/receitas.jpg');
  border-radius: 50%;
  font-size: 2em; color: green;
  height: 50vh;
  text-align: center;
  transform: translateX(6%);
  width: 50vh;
}

.buttons {
  align-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.background {
  background-image: url('../../images/comidas.jpg');
  display: flex;
  height: 100vh;
  width: 100%;
}

.Iniciar {
  background-color: green;
  border-radius: 1em;
  display: flex;
  font-size: 1.5em;
  margin-top: 20%;
}
